html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
}
h1 {
  text-align: center;
}
#root {
  margin-top: 60px;
}
.option-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.option {
  background: #fff;
  border: 1px solid #333;
  margin: 5px;
  font-size: 10px;
  box-sizing: border-box;
}
.option .o-header {
  margin-top: -1px;
  margin-right: -1px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  text-align: center;
}
.option .o-content {
  margin: 5px;
}
.option .legend-box {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
.option input {
  font-size: 10px;
}
#mainContainer {
  padding: 10px;
  background: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  height: auto;
}
#logContainer {
  flex: 1 1 auto;
  background: #000;
  color: #fff;
  font-family: Courier New, Courier, monospace;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  min-width: 400px;
  max-height: 500px;
  padding: 5px;
  box-shadow: border-box;
  font-size: 11px;
}
#logContainer p {
  margin-top: 0;
  margin-bottom: 0;
}
#progressContainer {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #000;
  height: 20px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box !important;
}
#progress {
  margin-top: -1px;
  border-radius: 10px;
  height: 20px;
  background: linear-gradient(to right, #c9de96 0%, #8ab66b 44%, #398235 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-sizing: border-box !important;
}
#progress p {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  float: left;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  width: 30px;
}
#startStop {
  float: right;
  position: absolute;
  right: 25px;
  top: 75px;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}
#startStop i {
  width: 100%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 20px;
  margin-top: 26px;
}
@keyframes ssframe {
  from {
    width: 75px;
    height: 75px;
    top: 75px;
    opacity: 1;
  }
  to {
    width: 100px;
    height: 100px;
    top: 63px;
    right: 13px;
    opacity: 0;
  }
}
#startStopFrame {
  background: red;
  float: right;
  border-radius: 50px;
  position: absolute;
  right: 25px;
  top: 75px;
  height: 75px;
  width: 75px;
}
.running {
  background: red;
}
@keyframes pausedAnim {
  from {
    border-color: darkgreen;
  }
  to {
    border-color: lime;
  }
}
.paused {
  border: 2px solid darkgreen;
  background: green;
  animation: pausedAnim 1s alternate infinite;
}
#valuesTable tr td:first-child {
  text-align: right;
}
#pageContainer {
  flex: 0 1 auto;
  border: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#pageContainer .page-item {
  margin: 5px;
  width: 150px;
  background: #fff;
  height: 150px;
  border: 1px solid #000;
  position: relative;
  transition: .2s all;
  padding: 3px;
}
#pageContainer .page-item ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  bottom: 0;
}
#pageContainer .page-item ul :nth-child(even) {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 10px;
  padding: 3px;
}
#pageContainer .page-item ul :nth-child(odd) {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border-radius: 10px;
  padding: 3px;
}
#pageContainer .page-name {
  user-select: none;
  text-transform: uppercase;
  padding-top: 60px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  font-size: 48px;
  color: #aaa;
  font-weight: bold;
  margin: 0 auto;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
#pageContainer .validClass {
  border: 1px solid cyan;
  transition: .2s all;
  background: navy;
  color: #fff;
}
#pageContainer .current-page {
  background: darkred;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  margin-top: -10px;
  transition: .2s all;
  color: #fff;
  transform: scale(1.1);
}
